body {
    background: #ffeef5;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.simple-nav {
    background: #ffc7db;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-size: 17px;
    font-weight: 600;
}

.simple-nav a {
    color: #b4004e;
    text-decoration: none;
}

.simple-nav .active {
    text-decoration: underline;
}

.title {
    margin-top: 25px;
    font-size: 28px;
    color: #b4004e;
}

.subtitle {
    font-size: 15px;
    margin-bottom: 20px;
}

/* Heart Buttons */
.reason-heart {
    width: 120px;
    padding: 12px;
    margin: 8px;
    border-radius: 12px;
    background: white;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #ff9ebc;
    transition: 0.2s;
}

.reason-heart:hover {
    background: #ffd3e5;
}

.reason-text {
    display: none;
    margin-top: 8px;
    font-size: 14px;
    color: #800038;
}
