body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffe6f2;
    color: #b30086;
}

.navbar {
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background: #ffb3d9;
    position: sticky;
    top: 0;
}

.navbar a {
    margin: 0 18px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: #b30086;
}

.navbar a.active {
    color: white;
}

.container {
    text-align: center;
    padding: 40px 20px;
}

h1 {
    color: #b30086;
    margin-bottom: 10px;
}

.sub {
    margin-bottom: 20px;
    font-size: 15px;
}

.buttons button {
    padding: 10px 18px;
    background: #ff99cc;
    border: none;
    color: white;
    border-radius: 6px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

.reason-output {
    margin-top: 25px;
    font-size: 18px;
    color: #990073;
}

.open-card {
    background: white;
    padding: 18px;
    border-radius: 12px;
    margin: 20px auto;
    width: 90%;
    max-width: 500px;
    border: 2px solid #ffb3d9;
}

.open-card h2 {
    margin-bottom: 6px;
    color: #b30086;
}

.open-card p {
    color: #80005a;
}
