/* General */
body {
    background: #ffe6f2;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Navigation */
nav {
    background: #ffb3d9;
    padding: 12px;
    display: flex;
    justify-content: center;
    gap: 25px;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: #5a005a;
    font-size: 18px;
    transition: 0.2s;
}

nav a:hover {
    color: white;
}

nav .active {
    color: white;
}

/* 143 page */
.btn {
    background: #ff80bf;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
}

.reason-box {
    margin-top: 20px;
    font-size: 20px;
    background: #fff0f7;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
}

/* Open-When */
.open-card {
    background: white;
    width: 80%;
    max-width: 420px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #ffb3d9;
    color: #7a007a;
}

/* Polaroid */
.polaroid {
    background: white;
    width: 260px;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px #ff9ac7;
}

.polaroid img {
    width: 100%;
    border-radius: 8px;
}

.caption {
    margin-top: 10px;
    font-size: 16px;
    color: #7a007a;
    font-weight: 600;
}
